* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 50px 0;
    text-align: center;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.faq {
    border: 1px solid #9fa4a8;
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
    position: relative;
}

.title {
    margin: 20px;
    font-size: 30px;
    font-weight: 50;
}

.text {
    margin: 30px 20px;
    display: none;
}



.faq-toggle {
    background: transparent;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
}

.faq-toggle .fa-times {
    display: none
}

.faq.active .text {
    display: block;
}

.faq.active .faq-toggle .fa-times {
    display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
    display: none;
}